<network>
  <name>{{ virt_net_name }}</name>
  <bridge name='{{ virt_net_bridge_name }}' />
{% if virt_net_forward %}
  <forward mode='{{ virt_net_forward_mode }}'/>
  <ip address='{{ virt_net_ip_address }}' netmask='{{ virt_net_netmask }}'>
{% if virt_net_dhcp %}
    <dhcp>
      <range start='{{ virt_net_dhcp_range_start }}' end='{{ virt_net_dhcp_range_end }}'/>
    </dhcp>
{% endif %}
  </ip>
{% endif %}
</network>