{% if host.k8s.instance == 'k8s-master01' %}
instance-id: {{ host.k8s.instance_id }}
local-hostname: {{ host.k8s.local_hostname }}
network-interfaces: |
  auto eth0
  iface eth0 inet static
  address {{ host.k8s.address }}
  network {{ host.k8s.network }}
  netmask {{ host.k8s.netmask }}
  broadcast {{ host.k8s.broadcast }}
  gateway {{ host.k8s.gateway }}
{% endif %}