#cloud-config
system_info:
  default_user:
    name: {{ cloud_init_default_user }}
chpasswd:
  list: |
     {{ cloud_init_default_user }}:{{ cloud_init_chpasswd }}
  expire: False
timezone: Asia/Tokyo
ssh_authorized_keys:
  - ssh-rsa {{ cloud_init_ssh_authorized_keys }}